[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
flake8 = "*"
jupyter = "*"
gunicorn = "*"
pytest-django = "*"
python-decouple = "*"
dj-database-url = "*"
django-s3-folder-storage = "*"
pytest = "*"
collectfast = "*"
sentry-sdk = "*"
heroku = "*"

[dev-packages]
flake8 = "*"
pytest-django = "*"
pytest-cov = "*"
codecov = "*"

[requires]
python_version = "3.9"
